*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
    background-color: #04BF8A;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align:center;    
  }
  
nav{
    display: block;
    position: absolute;
    top: 1em;    
}

nav li{
    margin-top: 1em;
    display:block;
    position: relative;
    top:2px;
    left: 20%;    
}

nav a{
    text-transform: uppercase;
    color: #0E3D59;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.container{
    background-color: #0E3D59;
    padding: 10px 24px;
    border-radius: 20px;
    width: 70%;
}

h1{    
    color: white;
    margin-left: 10%;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.container .box{
    width: 100%;
    display: flex;
}

.box div{
    width: 100%;
}

select{
    width: 95%;
    height: 40%;
    font-size: 1.2em;
    cursor: pointer;
    background: #05F29B;
    outline: none;
    color: black;
    margin: 0.2em 0 ;
    padding: 0 1em 0 1em;
    border-radius: 10px;
    border: none;
}

input{
    width: 80%;
    height: 40%;
    font-size: 1em;
    margin: 0.2em 0 1em;
    border-radius: 8px;
    border: none;
    background: #04BF8A;
    outline: none;
    padding: 0 1em;
}

.bottomBoxes{
    display: flex;
    justify-content: center;
    border: auto;
}

.btn{
    width: 50%;
    height: 1.5em;
    background: #05F283;
    color: #0E3D59;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 2em;
    margin: 0.6em;
}

.changeConvertor{
    width: 70%;
    height: 3.5em;
    font-size: 1.2em;
    cursor: pointer;
    background: #05F29B;
    outline: none;
    color: black;
    margin: 1em 1em 0 1em;    
    border-radius: 10px;
    border: none;
}



.contenedor{
    max-width: 500px;
    margin: auto;
    color: azure;
    background-color: #0D7AD9;
    border: 1px solid #F29F05;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.fila{
    margin: 10% 20%;
}

select{
    font-size: 20px;
    border: none;
    padding: 5px;
    border-radius: 30px;
}


